<div class="md-padding" flex layout-sm="column">
    <md-card class="text-center">
        <md-card-content>
            <h1>{{ vm.title }}</h1>
            <md-grid-list md-cols="4" md-row-height="4:3" style="height: 100px;">
                <md-grid-tile ng-repeat="carta in vm.grid" md-rowspan="carta.row" md-colspan="carta.col">
                    <img ng-src="{{carta.urlVirada}}" ng-click="vm.joga(carta)" ng-if="!carta.apagada">
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>
</div>